In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Using cached mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import mysql.connector
connection=None
try:
    connection=mysql.connector.connect(
        host="localhost",
        user="root",
        password="nsti",
        database="Data"
    )
    cursor=connection.cursor()
    # cursor.execute("create database Data")
    # cursor.execute("use Data")
    Query="""
    create table edu_student(
    StudentID int primary key,
    StudentName varchar(200),
    DataOFBirth date
    )
    """
    #cursor.execute(Query)
    print("Table created successfully!")
    # Inserting data into edu_students
    insert = """
    INSERT INTO edu_student (StudentID, StudentName, DataOfBirth) 
    VALUES (%s,%s,%s)
    """
    VALUES=[
        (1, 'Amit', '2002-05-15'),
        (2, 'Pooja', '2003-07-09'),
        (3, 'Neha', '2007-05-12'),
        (4, 'Rohit', '2010-09-08')
        ]
    # Execute the query
    cursor.executemany(insert,VALUES)
    connection.commit()
    print("Data inserted successfully!")
except mysql.connector.Error as e:
    print(f"Error connecting to MySQL: {e}")
finally:
    if connection and connection.is_connected():
        connection.close()
        print("Connection Closed")

Table created successfully!
Error connecting to MySQL: 1062 (23000): Duplicate entry '1' for key 'edu_student.PRIMARY'
Connection Closed

In [13]:
import mysql.connector
connection=mysql.connector.connect(
        host="localhost",
        user="root",
        password="nsti",
        database="Data"
    )
cursor=connection.cursor()
#View records of the table
cursor.execute('SELECT * FROM edu_student')
result=cursor.fetchall()
for row in result:
    print(row)

(1, 'Amit', datetime.date(2002, 5, 15))
(2, 'Pooja', datetime.date(2003, 7, 9))
(3, 'Neha', datetime.date(2007, 5, 12))
(4, 'Rohit', datetime.date(2010, 9, 8))

In [3]:
import mysql.connector
connection=mysql.connector.connect(
        host="localhost",
        user="root",
        password="nsti",
        database="Data"
    )
cursor=connection.cursor()

update = '''
UPDATE edu_student 
SET StudentName = %s, DataOfBirth = %s 
WHERE StudentID = %s
'''

values = [
    ('Priyanshi', "2025-02-12", 5),
    ('Aditya', "2023-05-25", 6),
    ('Sahil', "2024-03-24", 7)
]

cursor.executemany(update, values)
connection.commit()
print('Rows Affected:', cursor.rowcount)

Rows Affected: 0

In [4]:
delete = '''
delete from edu_student WHERE StudentID = 5
'''
cursor.execute(delete)
connection.commit()
print("Data deleted successfully!")

Data deleted successfully!

In [10]:
# Handle Transaction
import mysql.connector

# Establish database connection
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="nsti",
    database="Data"
)
cursor = connection.cursor()
Query="""
    create table students(FirstName varchar(100),
    LastName varchar(100), 
    Year int
    )
    """
cursor.execute(Query)
print("Table created successfully!")

# Define the insert query
insert_query = '''
    INSERT INTO students (FirstName, LastName, Year) 
    VALUES (%s, %s, %s)
'''

try:
    # Start transaction
    connection.start_transaction()
    
    # Data to insert
    transaction = [
        ('Neha', 'Shakya', 2025),
        ('Jyoti', 'Kumari', 2024)
    ]
    
    # Execute query
    cursor.executemany(insert_query, transaction)
    
    # Commit transaction
    connection.commit()
    print('Transaction Committed Successfully!')

except mysql.connector.Error as e:
    # Rollback transaction in case of failure
    connection.rollback()
    print("Transaction Failed and Rolled Back!", e)

finally:
    # Close the cursor and connection
    if connection.is_connected():
        cursor.close()
        connection.close()
        print('Connection Closed!')

Table created successfully!
Transaction Committed Successfully!
Connection Closed!